           div {
  width: 320px #37ad3f;
  height: 50px #37ad3f;
  padding: 10px #37ad3f;
  border: 5px #37ad3f;
  margin: 0;                  
}

           h1 {
           "font-family:verdana";
           text-shadow: 2px 2px Red;
           } 


body {
     background-color: #14CC7C;
     font-family: Arial, sans-serif;
     text-align: center;
     padding: 60px;        
}

img {
           border-radius: 8px;
           
}

a:link{
           background-color:firebrick;
           text-decoration:none;
}
a:visited{
           background-color:saddlebrown;
           text-decoration:none;

}
a:hover{
           background-color:darkred;
           text-decoration:underline;
           transition-delay: 250ms;
           transition-property: margin-right;

}
a:active{
           background-color:crimson;
           text-decoration:none;

}
